<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app>

<web-app
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
    <display-name>Practicas DAW</display-name>
    <description>
      Practicas DAW.
    </description>

	<context-param>
		<param-name>gestor</param-name>
		<param-value>mysql</param-value>
	</context-param>
	<context-param>
		<param-name>servidor</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>puerto</param-name>
		<param-value>8080</param-value>
	</context-param>
	<context-param>
		<param-name>baseDatos</param-name>
		<param-value>projectdawa</param-value>
	</context-param>
	<context-param>
		<param-name>usuario</param-name>
		<param-value>usuariobase</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>pass</param-value>
	</context-param>

	<servlet>
        <servlet-name>Controlador Post</servlet-name>
        <servlet-class>controllers.Controlador</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>Formulario Post</servlet-name>
        <url-pattern>/Formulario</url-pattern>
    </servlet-mapping>

    
</web-app>
